<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cliente Websocket</title>
    <link rel="stylesheet" href="/public/style.css">
</head>
<body>
    <div class="container">
        <h1>Quiz sobre Ciência</h1>
        <h4>10 questões sobre ciência</h4>
        <p>Usuário ID: <span id="user-id"></span></p>
        <div id="question-container">
            <p id="perguntas"></p>
            <div id="alternativas"></div>
        </div>
        <div id="messages"></div>
        <p id="pontuação">Pontuação: 0</p>
        <p id="timer">Tempo restante: 40s</p>
        <button onclick="window.location.reload();">Resetar Página</button>
        <div id="score-table"></div>
        
    </div>
    <script src="/public/app.js"></script>
</body>
</html>
